.detailHeader{
    background-image: url("../../Image//Photo/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.detailHeader h4{
    padding: 40px 0;
    text-align: center;
    color:white;
    font-size: 30px;
    font-weight: 700;
}
.detailHeader #badge{
    width: 30%;
    height: 30%;
    z-index: 1;
}
.detailHeader #banner{
    width: 100%;
}